<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

데이터 수정

<form action="/update" />
idx : <input type="text" name="idx" th:value="${base.idx}"><br/>
title : <input type="text" name="team" th:value="${base.team}"><br/>
image : <input type="text" name="image" th:value="${base.image}"> <br/>
slogan : <input type="text" name="slogan" th:value="${base.slogan}"> <br/>
member : <input type="text" name="member" th:value="${base.member}"> <br/>
bottom : <input type="text" name="bottom" th:value="${base.bottom}"> <br/>
<input type="submit" value="수정" />
</form>

</body>



</body>
</html>